.content {
    height: calc(100vh - 56px);
    overflow: auto;
    padding: 24px;
}

@media only screen and (min-width: 768px) {
    .content {
        max-width: 1200px;
        margin: auto;
    }
}
